.MMM-MBTA .red {
  color: #cd2230;
}

.MMM-MBTA .blue {
  color: #0064c8;
}

.MMM-MBTA .orange {
  color: #ff8200;
}

.MMM-MBTA .green {
  color: #428608;
}

.MMM-MBTA .commuter {
  color: #a00a78;
}

.MMM-MBTA .bus {
  color: #ffce0c;
}

.MMM-MBTA .boat {
  color: #5da9e8;
}

.MMM-MBTA .alerts-header {
  margin-top: 6px;
}

.MMM-MBTA .alerts {
  overflow: hidden;
  max-width: 300px;
  display: flex;
}

.MMM-MBTA .alerts-wrapper {
  display: flex;
  white-space: nowrap;
}

.MMM-MBTA .alerts-wrapper.animate {
  /* start the alert off screen */
  padding-left: 100%;
  transform: translateX(0%);
  animation: alert calc(0.075s * var(--char-count, 100)) linear infinite;
}

/* Move it (define the animation) */
@keyframes alert {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
